# Telegram Bot Settings
BOT_TOKEN="110201544:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw"
RATE_LIMIT=0.5
DEBUG=true
ADMINS_ID=1234,1234
# Webhook Server Settings (Optional)
USE_WEBHOOK=False
WEBHOOK_HOST="0.0.0.0"
WEBHOOK_PORT=8080
WEBHOOK_BASE_URL="https://example.com"
WEBHOOK_PATH="/webhook"
WEBHOOK_SECRET="Pl7U9AJUFb2"

# Database Settings
DB_HOST="pgbouncer"
DB_PORT=5432
DB_USER="tgbot"
DB_PASS="OGU6P2TNUEwxekD0OHe7"
DB_NAME="bot_db"

# Redis (for FSM and Cache) Settings
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_PASS=

