# Telegram Bot Settings
BOT__TOKEN="TOKEN"
BOT__PAYMENT_TOKEN="PAYMENT_TOKEN"
BOT__ADMIN_IDS=[tg_id,tg_id]

# Database Settings
DB__HOST="localhost"
DB__PORT=3306
DB__USER="root"
DB__PASSWORD="root"
DB__NAME="root"
DB__ECHO=false

# Redis (for FSM and Cache) Settings
REDIS__HOST="localhost"
REDIS__PORT=6379
REDIS_PASS=""