# Telegram Bot Settings
BOT_TOKEN=""
ADMIN_IDS=[]
PAYMENT_TOKEN=""

# Database Settings
DB_HOST="0.0.0.0"
DB_PORT=3306
DB_USER=""
DB_PASS=""
DB_NAME=""
DB_ECHO=false

# Redis (for FSM and Cache) Settings
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASS=

# General settings
DEBUG=false